/* 
*{
  margin: 0;
} */


body{
  font-family: "YekanBakh";
  color: rgb(210, 207, 207);
} 



@font-face {
  font-family: "YekanBakh";
  src: url("./assets/Vazir-Light-FD-WOL.woff") format("woff");
  src: url("./assets/Vazir-Light-FD-WOL.woff2") format("woff2");
}